</main>
<footer>Copyright © <%= new Date().getFullYear() %>
</footer>
</body>


    <script type="text/javascript">

        function deleteBook(bookId){
            // fetch(`/book/${bookId}`, {
            //     method: 'POST'
            // })

            // .then(data => {
            //     if(data.success){
            //         console.log('Book deleted successfully');
            //         window.location.reload();
            //         }
            //         else{
            //             window.alert('Error deleting book');
            //         }
            //     })
            console.log("Hello from deleteBook function");

        
        }


    </script>



</html>