<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <title>Books Reviews</title>
</head>
<body>

    <section>
        <div class="intro-container">
            <div class="headings">
                <h1>Welcome to Books Reviews</h1>
                </p>
            </div>
            <form>
                <input type="text" placeholder="search......" name="search" id="search" autoComplete="off" />
            </form>
        </div>
        <div class="body-container">
            <div class="headings">
                <h2 id="bookTitle"></h2>
                <div id="bookInfo">
                    <span id="author">Lucas Musoke</span>
                    <form>
                        <label for="rating">Rating:</label>
                        <select name="rating" id="rating">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </form>
                </div>
                <p id="bookReview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec augue erat, porta et lobortis egestas, luctus ut dolor. 
                    Nullam gravida urna eu metus faucibus tempor. Phasellus sed est velit. 
                    Vivamus sed orci enim. In dapibus ipsum lacinia, gravida magna et, 
                    auctor enim. Mauris ut turpis non ligula dignissim rhoncus sed non neque. 
                    Donec felis ligula, dictum eu velit et, rutrum mattis metus. Etiam ipsum lectus, 
                    semper at egestas nec, tristique sed leo. Donec eget semper neque. </p>
            </div>
        </div>
    </section>
    
</body>
</html>