<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <title>Books Reviews</title>
</head>
<body>

    <section>
        <div class="intro-container">
            <div class="headings">
                <h1>Welcome to Books Reviews</h1>
                </p>
            </div>
            <form>
                <input type="text" placeholder="search......" name="search" id="search" autoComplete="off" />
            </form>
        </div>
        <div class="body-container">
            <div class="headings">
                <h2 id="bookTitle">Book Title</h2>
                <img src="" alt="Book Cover" id="bookCover">
                <div id="bookInfo">
                    
                    <form action="">

                        <label for="author">Author:</label>
                        <input type="text" name="author"  value="Lucas" readonly>

                        <label for="publicationYear">Publication Year:</label>
                        <input type="text" name="publicationYear"  value="2000" readonly>

                        <label for="rating">Rating:</label>

                        <% for (let i =1 ; i <= 5; i++) { %>
                            <input type="radio" name="rating" value="<%= i %>"> 
                            <%}%>

                        <input type="radio" value="" >
                    </form>
                </div>
                <div class="">

                    <h2>Review</h2>

                    <p id="bookReview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec augue erat, porta et lobortis egestas, luctus ut dolor. 
                    Nullam gravida urna eu metus faucibus tempor. Phasellus sed est velit. 
                    Vivamus sed orci enim. In dapibus ipsum lacinia, gravida magna et, 
                    auctor enim. Mauris ut turpis non ligula dignissim rhoncus sed non neque. 
                    Donec felis ligula, dictum eu velit et, rutrum mattis metus. Etiam ipsum lectus, 
                    semper at egestas nec, tristique sed leo. Donec eget semper neque. </p>

                </div>review
                
            </div>
        </div>
    </section>
    
</body>
</html>